<!-- gestores.component.html -->
<div class="container mt-4">
    <h3>Gestión de Gestores</h3>
    <form>
      <div class="row">
        <div class="col-md-3 mb-3">
          <input type="text" class="form-control" placeholder="Nombre">
        </div>
        <div class="col-md-3 mb-3">
          <input type="text" class="form-control" placeholder="Apellido">
        </div>
        <div class="col-md-3 mb-3">
          <input type="text" class="form-control" placeholder="Teléfono">
        </div>
        <div class="col-md-3 mb-3">
          <input type="email" class="form-control" placeholder="Correo">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Agregar Gestor</button>
    </form>
    <h4 class="mt-4">Lista de Gestores</h4>
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Teléfono</th>
          <th>Correo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Gestor 1</td>
          <td>Apellido 1</td>
          <td>123456789</td>
          <td>"gestor1mail.com"</td>
        </tr>
      </tbody>
    </table>
  </div>