<div class="container mt-4">
    <h3>Registro de Propuestas</h3>
    <form>
      <div class="row">
        <div class="col-md-6 mb-3">
          <input type="text" class="form-control" placeholder="Nombre">
        </div>
        <div class="col-md-6 mb-3">
          <input type="text" class="form-control" placeholder="Apellido">
        </div>
        <div class="col-md-6 mb-3">
          <input type="email" class="form-control" placeholder="Correo">
        </div>
        <div class="col-md-6 mb-3">
          <input type="text" class="form-control" placeholder="Teléfono">
        </div>
        <div class="col-md-12 mb-3">
          <textarea class="form-control" rows="3" placeholder="Definición de la Propuesta"></textarea>
        </div>
        <div class="col-md-12 mb-3">
          <input class="form-control" type="file" id="archivo">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Cargar Propuesta</button>
    </form>
  </div>